.custom-button {
    background-color: #217ef7;
    color: #fff;
    border: 1px solid #217ef7;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
