.menu-manaagement {
    .text-service {
        color: #303f57;
        font-size: 20px;
        font-weight: 600;
        padding-top: 20px;
    }

    .text-serve-card {
        color: #303f57;
        font-size: 20px;
        padding-bottom: 15px;
    }

    .date-text- {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
        padding: 0;
        margin-bottom: -10px;
        color: #8392a5;
    }

    .text-drag-drop {
        color: #303f57;
    }

    .center-draggable-cards {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }

    .apexcharts-legend {
        justify-content: center !important;
    }

    .pie-container {
        padding-top: 20px;
    }

    .btn-menu-management {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
    }

    .spin-menu-container {
        text-align: center;
    }

    @media handheld,
    only screen and (max-width: 1300px) {
        .btn-menu-management {
            display: block;
            margin: 0 auto;
            margin-top: 0px;
        }

        .text-service {
            margin-left: 40px;
            font-size: 15px;
        }
    }

    @media handheld,
    only screen and (max-width: 1400px) {
        .btn-menu-management {
            display: block;
            margin: 0 auto;
            margin-top: 0px;
        }

        .text-service {
            margin-left: 40px;
            font-size: 15px;
        }
    }

    .btn-container {
        align-items: center !important;
        text-align: center !important;
    }

    @media only screen and (min-width: 1200px) {
        .card-style1 {
            height: 690px !important;
        }
    }

    .pie-chart {
        padding-bottom: 20px;
    }

    .data-empty {
        padding-top: 40px;
        text-align: center;
    }

    .bar-stack {
        margin-right: 50px;
    }
}

#tooltip-top>.tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #062e56;
}

#tooltip-top>.tooltip-arrow {
    border-top: 5px solid #062e56;
}