.text-analytics {
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 180% */
    font-weight: 500;
    padding-top: 20px;
    color: #3e5569;
}

.rounded-ussd {
    background-color: #7cddc0;
    display: inline-block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.label-ussd {
    text-align: center;
}

.text-ussd-chart {
    display: inline;
    color: #9e9e9e;
}

.application-border {
    margin-right: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    text-align: center;
    padding: 5px;
    width: 95px;
    height: 32px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.select-style {
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
}